.personafisica {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.personafisica-info {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 10% 90%;
}

.personafisica-info-header {
  text-align: center;
  margin: 0 auto;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-right: 35px;
}

.personafisica-info-back {
  text-decoration: none;
  color: white;
  background-color: #7264c9;
  border-radius: 10px;
  padding: 10px;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;

  width: 40px;
  height: 40px;

  align-self: center;
}

.personafisica-info-back-arrow {
  width: 20px;
  height: auto;
}

.personafisica-info-back {
  text-decoration: none;
  color: white;
  background-color: #7264c9;
  border-radius: 10px;
  padding: 10px;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.personafisica-form {
  width: 500px;
  padding: 40px;

  -webkit-box-shadow: 0px 8px 39px -11px rgba(156, 156, 156, 0.753);
  -moz-box-shadow: 0px 8px 39px -11px rgba(166, 166, 166, 0.37);
  box-shadow: 0px 8px 39px -11px rgba(166, 166, 166, 0.37);

  border-radius: 5px;
}
