body {
  overflow: hidden;
}

.App {
  overflow: hidden;
  padding-top: 50px;
}

.App-header {
  font-size: 35px;
  color: rgb(76, 68, 68);
  font-weight: 600;

  margin-top: 40px;
}

.app-title {
  margin-bottom: 20px;
}

.app-title-header {
  width: 280px;
  height: auto;

  margin-bottom: 5px;
}

.app-title-desc {
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  font-weight: 500;
  font-size: 20px;

  margin-top: 5px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.app-form {
  width: 500px;
  padding: 40px;

  -webkit-box-shadow: 0px 8px 39px -11px rgba(122, 122, 122, 0.658);
  -moz-box-shadow: 0px 8px 39px -11px rgba(166, 166, 166, 0.836);
  box-shadow: 0px 8px 39px -11px rgba(166, 166, 166, 0.37);

  border-radius: 5px;
}

.app-main {
  position: absolute;
  top: 42%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.app-title {
  text-align: center;
}

.blob1 {
  position: absolute;
  left: -170px;
  bottom: -330px;

  overflow: hidden;
}

.blob2 {
  position: absolute;
  right: -240px;
  top: -250px;
}
